@import './reset.css';
@import './base.css';

#app {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.arboretum {
	color: var(--color-green);
	font-size: calc(18 * var(--desktop-average-ratio));
	font-weight: 700;
}

@media screen and (max-width: 500px) {
	.arboretum {
		font-size: calc(18 * var(--mobile-average-ratio));
	}
}
